@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@vime/core/themes/default.css';
@layer components {
    .emoji-picker-react .emoji-preview {
      @apply hidden;
    }
  }

  body::-webkit-scrollbar {
    width: 12px;          
  }
  
  body::-webkit-scrollbar-track {
    background: #0c0c0c;     
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fff;    
    border-radius: 15px;      
    border: 0px solid #fff; 
  }
  
  .custom-vime-theme {
    --vm-player-theme: #b1c86e;
  } 